.name {
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title_create {
  font-size: 1.5rem;
}
.title_manage {
  font-size: 1.5rem;
}

.title_update {
  font-size: 1.5rem;
}

.title_convert {
  font-size: 1.5rem;
}

.create_fragment_section {
  background-color: rgb(250, 234, 210);
  padding: 20px;
}

.manage_fragment_section {
  background-color: rgb(205, 218, 255);
  padding: 20px;
}

p {
  padding: 20px;
  margin-bottom: 0px;
}

.update_fragment_section {
  background-color: rgb(225, 252, 213);
  padding: 20px;
}

.convert_fragment_section {
  background-color: rgb(247, 214, 253);
  padding: 20px;
}

button {
  margin-top: 10px;
}
.enter_message_btn {
  margin-top: 10px;
}
